
body {
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

#clock {
  display: flex;
  font-size: 15vw;
  color: #0f0;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
}

#clock span {
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  #clock {
    font-size: 20vw;
  }
}

@media (max-width: 480px) {
  #clock {
    font-size: 25vw;
  }
}

