
body {
    background: #c0c0c0;
}

.src {
    background: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    display: block;
    margin: 0;
    padding: 12px 8px;
    width: 640px;
    height: 480px;
    overflow: auto;
}

.draggable {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
}

