/* Basic styling */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: black; /* Background color for matrix effect */
  color: green; /* Text color for matrix effect */
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: black; /* Ensure the canvas background matches the matrix effect */
}

video {
  display: none; /* Hide video element as we use it only for PiP */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: green;
  background-color: black;
  border: 1px solid green;
}
